{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Us</h1>
</div>
<p class="lead">"Health Care is one of the most important fields AI gonna transform"
  Sundar Pichai - CEO ALPHABET
  
  So, We want to inspire developer community to develop AI for Good. Asia is lacking far behind in health care as compared to other developed countries. But now everyone has the power of changing that using AI. AI can be the best assistant of doctors in enormous cases, from helping them automate several scans and also giving best recommendations to patients. The scope of AI in health care is not just limited to doctors. It can also empower biologists and chemists to create more effective drugs or medicine based on specific type of disease. It can also lead us to try molecular level programming that will one day be a part of us saving us from different epidemics. </p>

{% endblock %}
